@tailwind base;
@tailwind components;
@tailwind utilities;

.main_section {
    animation-delay: 1400ms;
}

.clip-path-custom {
    clip-path: path('M0 27C0 12.0883 12.0883 0 27 0H300C314.912 0 327 12.0883 327 27V253.418C327 257.606 323.606 261 319.418 261C280.804 261 249.5 292.304 249.5 330.918V334.978C249.5 339.409 245.909 343 241.478 343H27C12.0883 343 0 330.912 0 316V27Z');
}

@media (max-width:768px) {
    .clip2 {
        clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%) !important;
    }
}

.clip2 {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}